.bearSelection {
    margin-top: 24px;
    margin-bottom: 24px;
    color: #aaa;
}

.bearName {
    font-weight: bold;
    color: #ac54ff;
    margin-left: 0.5em;
}

.bearHash {
    font-weight: bold;
    color: #ac54ff;
    margin-left: 1em;
}
